:root {
    --corporate_orange: #ff5f00;
    --color-black: #191919;
    --color-white: #ffffff;
    --h1: 3.75rem;
    --h2: 2.857rem;
    --h3: 1.5rem;
    --h4: 1.375rem;
    --h5: 1.125rem;
    --h6: 0.875rem;
    --p: 0.875rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.btn  {
    padding: 1.5rem 3rem;
    background-color: var(--corporate_orange);
    color:#fff;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: bold;
    font-size: 1.5rem;
    transform: translateY(6px);
}

.btn:hover {
    background-color: #fff;
    color:var(--corporate_orange);    
}

html {
    font-size: 62.5%;
    font-family: Roboto Condensed,sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.search__modal-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: -1;
    transform:translateY(-100%);
    transition: all 0.3s ease;
}

.search__modal-container-show {
    z-index: 1; 
    transform:translateY(0%); 
    visibility: visible;
}

.header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 75px;
    margin-top: 1.5rem;
}

.header__img {
    /* margin-left: 75px; */
    /* transform: translateY(-10px); */
    z-index: -1;
    /* transform: scale(50px); */
}

.header__img-img {
    width: 192px;
}

.header__link {
   margin-left: 20px;
   color: #191919;
   transition: all 0.2s ease;

}

.header__link:last-of-type {
    margin-right: auto;
}

.header__link--anchor {
    font-size: 1.7rem;
    color:inherit;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}

.header__currency {
    font-size: 2rem;
}

.active {
    color: var(--corporate_orange);
    border-bottom: 3px solid var(--corporate_orange);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
    background-color:var(--color-black);
    color:rgb(114, 114, 114);
    font-size: 2.5rem;
    z-index: 100;
    position: relative;
}

.search__modal__content-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(135px);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(-100px);
    transition: all .3s ease;
    z-index: -1;
    display: flex;
    justify-content: space-between; 
    padding: 4rem 4rem;
    align-items: stretch;
}

.search-results-left {
    padding: 2rem;
    width: 40%;
    opacity: 1;
    transition: opacity .3s ease;
}

.search-results-left-show {
    opacity: 1;
}

.search-results-right {
    width: 60%;
    padding: 2rem;
}

.search-results-left-ul {

}

.search-results-left-li {
    cursor: pointer;
}

.search-results-right-content {
    display: flex;
    flex-direction: column;
    /* padding-top: -160px; */
}

.search-results-right-img {
    width: 30%;
    /* padding: 1rem; */
    display: block;
    margin-top: -50px;
}

.search-results-right-description {
    padding: 0rem;
}




.search__modal__content-container-show {
    z-index: 0;
    opacity: 1;
    visibility: visible; 
    transform: scaleY(0px);
}

.search__label {
    color: #ff5f00;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 1rem;
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.search__pickupLocation {
    position: relative;
}

.search__pickupLocation-input {
    background-color:var(--color-black);
    border: none;
    outline: none;
    width: 100%;
    font-size: inherit;
    color:var(--corporate_orange);
    text-transform: uppercase;
    position: relative;
}


.search__pickupLocation,
.search__pickupDay,
.search__pickupTime,
.search__dropoffDay,
.search__dropoffTime {
    border-bottom: 2px solid #fff;
    cursor: pointer; 
    position: relative; 
    padding-bottom: 3px; 
}

.border-bottom-animate-div {
    width: 0%;
    height: 3px;
    background-color: var(--corporate_orange);
    position: absolute;
    top:5.5rem;
    left:0;
    z-index: 5;
    transition: all 0.3s cubic-bezier(0.1,-0.1, 0.51, 0.91);   
}

.border-bottom-animate-div-show {
    width: 100%;
    height: 3px;  
}


.hero {
    display: flex;
    background-image: url('img/china.jpg');
    justify-content: space-evenly;
    align-items: flex-end;
    height: 70%;
    background-size: cover;
    padding: 0rem 3rem 5rem 3rem;
}

.hero__text {
    font-size: 4rem;
    font-family: Roboto Condensed,sans-serif;
    font-weight: bold;
    width: 70%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: .5rem .5rem .2rem #000;
}

.hero__text p {
    font-size: 2.8rem;
    font-weight: 400;  
}

.hero__cta-btn {
    padding: 2.2rem 9rem;
    background-color: #fff;
    color:var(--corporate_orange);
    outline: none;
    border: none;
    cursor: pointer;  
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translateY(6px)
}


.hero__cta-btn:hover {
    background-color: var(--corporate_orange);
    color:#fff;
}

.date-ui {
    visibility: hidden;
    opacity: 0;
    z-index: -2;
    transition: all 0.3s ease; 
    display: inline-block;
    /* margin-top: 10rem;   */
}

.date-ui-input {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-family: Roboto Condensed,sans-serif;

}

.date-ui-show {
    visibility: visible;
    opacity: 1;
    z-index: 3;
    margin-top: 2rem; 
}

.date-ui-show h2 {
    /* text-align: center; */
    color: #000;
    font-style: italic;
}







